
.fixed-active{
    position: fixed;
    width: 100%;
    height: 65px;
    top: 0;
    transition: background-color .3s;
    z-index: 3;
}
.fixed::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: grey;
}
.fixed__list li{
    margin-right: 20px;
}
.fixed__link{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.fixed__link i{
    font-size: 16px;
    color: #C9D1CC;
}
.fixed__link-text{
    font-size: 14px;
    color: #C9D1CC;
}
.circle{
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height:25px;
    border-radius: 50%;
    color: #000;
}
.fixed__link-active{
    position: relative;
    font-weight: 500;
}
.fixed__link-active::after{
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(orangered,.7);
    top: 38px;
}
.hidden__drop{
    display: none;
}
@media only screen and (max-width:1090px){
    .fixed__list{
         margin-left: 100px;
    }
}
@media only screen and (max-width:1010px){
    .fixed__list{
         margin-left: 150px;
    }
}
@media only screen and (max-width:950px){
    .fixed__list{
         margin-left: 10px;
         justify-content: flex-end !important;
    }
}
@media only screen and (max-width:820px){
    .hidden__drop{
        display: inline-block;
        margin-right: 20px;
    }
    .changiable{
        display: none;
    }
    .dropdown-menu i{
        display: none;
    }
}
@media only screen and (max-width:767px){
    .hidden__drop{
        display: none;
    }
    .changiable{
        display: inline-block;
    }
    .fixed__list{
    justify-content: center !important;
    overflow-x: auto;
   }
}
@media only screen and (max-width:530px){
    .fixed__list{
        justify-content: flex-start !important;
        overflow-x: scroll;
    }
    .fixed__link-active::after{
        display: none;
    }
}